.centered-image {
  margin: 20px auto;
  max-width: 300px;
  max-height: 100px;
}

.warning {
  background: #ffe7e7;
  padding: 10px;
}

.info {
  background: rgb(255, 245, 238);
  padding: 10px;
}

.dark .info {
  background-color: #333;
  color: white;
}

.mt-20 {
  margin-top: 20px;
}

table.method {
  padding: 10px; 
  border: 1px solid rgb(75, 85, 99); 
  margin-top: 30px; 
  width: 100%;
}

td.description {
  padding: 10px;
  background: #FFF5EE; 
  border-bottom: 1px;
}

.dark td.description {
  padding: 10px;
  background: #333; 
  border-bottom: 1px;
}