.centered-image {
  margin: 20px auto;
  max-width: 300px;
  max-height: 100px;
}

.warning {
  background: #ffe7e7;
  padding: 10px;
}

.yellow {
  background: rgb(255, 245, 238);
  padding: 10px;
}

.mt-20 {
  margin-top: 20px;
}